<!DOCTYPE html>

<html
  lang="en"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../assets/"
  data-template="vertical-menu-template-free"
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title> Buy Stocks | invetments </title>
    <!-- headLinks -->
  <%- include("./partials/headLinks.ejs") -%>
  <!-- ### headLinks ### -->
    <style>
    .app-brand-logo img, .app-brand-logo svg {
    display: block;
    width: 40px;
    margin: 0 auto;
    }
    .plan-sec-img{
      width: 20px;
    }
    .nav-align-top > .tab-content,
     .nav-align-right > .tab-content, 
     .nav-align-bottom > .tab-content,
      .nav-align-left > .tab-content {
        background-color: transparent;
        box-shadow: none;
    }
    .display-1 {
    font-size: calc(2rem + 3.3vw);
    }
    .list-group-item{
      margin-bottom: 0px;
    }
    ul.pricing-item-list{
        list-style-type: none;
        }
        .pricing-grid-item-inner:hover .pricing-item-amount:before{
            width: 100%;
            background-color: red;
            left: 100%;
        }
        .pricing-item-list li {
        color: #636363;
        font-size: 18px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: baseline;
        -ms-flex-align: baseline;
        align-items: baseline;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .pricing-item-list li .pricing-list-arrow {
          -webkit-box-flex: 0;
          flex: 0 0 15px;
          -ms-flex: 0 1 auto;
          max-width: 15px;
          width: 15px;
          margin-right: 12px;
          font-size: 15px;
      }
      .pricing-item-amount {
      padding: 30px;
      text-align: center;
      -webkit-transition: all .3s linear;
      transition: all .3s linear;
      position: relative;
      }
      .pricing_0{
          background-color: rgba(41,72,255,.5) !important;
      }
      .pricing_1{
      background-color:rgba(41, 255, 105, 0.5)!important ;
      }
      .pricing_2{
      background-color:rgba(255, 102, 41, 0.5)!important ;
      }
      .pricing_3{
      background-color:rgba(0, 0, 0, 0.5)!important ;
      }
      .pricing_gold{
        background-color: rgba(255, 170, 0, 0.5) !important;
      }
      .pricing-item-amount h4 {
      font-size: 49px;
      font-weight: 400;
      color: #2948ff;
      position: relative;
      -webkit-transition: all .5s linear;
      transition: all .5s linear;
      }
      .pricing-item-body {
      padding: 20px;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
  }
  .pricing-item-list li .pricing-list-arrow {
    -webkit-box-flex: 0;
    flex: 0 0 15px;
    -ms-flex: 0 1 auto;
    max-width: 15px;
    width: 15px;
    margin-right: 12px;
    font-size: 15px;
}
.pricing-item-list li .pricing-list-arrow {
  -webkit-box-flex: 0;
  flex: 0 0 15px;
  -ms-flex: 0 1 auto;
  max-width: 15px;
  width: 15px;
  margin-right: 12px;
  font-size: 15px;
    }
.pricing-item-body .btn1 {
    color: #fff;
    margin-top: auto;
}

.orange-gradient {
    background: -webkit-gradient(linear,left top,right top,from(#f20f10),to(#ec600d));
    background: linear-gradient(90deg,#f20f10 0%,#ec600d 100%);
}
#myAlert{
        top: -300px;
        -webkit-transition: top .7s ease-in-out;
        -o-transition: top .7s ease-in-out;
        transition: top .7s ease-in-out;
        max-width: 500px;
        margin: 0 auto ;
        z-index: 10;
        position: absolute;
        width: 100%; 
        left: 50%;
        -webkit-transform: translateX(-50%) ;
        -moz-transform: translateX(-50%) ;
        transform: translateX(-50%) ;
    }
    .move{
        top: 150px !important;
    }
    </style>
  </head>

  <body class="body-linear">
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->
        <%- include("./partials/sidenav.ejs") -%>
        <!-- / Menu -->
        <!-- Layout container -->
        <div class="layout-page">
          <!-- Navbar -->

          <nav
            class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme card-color"
            id="layout-navbar"
          >
            <div class="layout-menu-toggle navbar-nav align-items-xl-center ms-auto me-xl-0 d-xl-none">
              <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                <i class="bx bx-menu bx-sm text-white"></i>
              </a>
            </div>
          </nav>

          <!-- / Navbar -->
          <% if(messages.error){ %>
            <div class="alert alert-primary  text-center alert-dismissible move" role="alert" id="myAlert">
                <%= messages.error %>
              </div>
              <script>
           setTimeout(function () {
           return myAlert.classList.remove("move");
           }, 3000);
              </script>
          <% } %>

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->
            <div class="container-xxl flex-grow-1 container-p-y">
                <div class="row justify-content-center">
                    <div class="col-md-12 col-lg-11">
                        <div class="row ">
                            <div class="col-12">
                                <div class="nav-align-top mb-4">
                                  <ul class="nav nav-pills mb-3" role="tablist">
                                    <li class="nav-item">
                                      <button type="button" class="nav-link text-white active" role="tab" data-bs-toggle="tab" data-bs-target="#navs-pills-top-home" aria-controls="navs-pills-top-home" aria-selected="true">
                                        single plans
                                      </button>
                                    </li>
                                    <li class="nav-item">
                                      <button type="button" class="nav-link text-white" role="tab" data-bs-toggle="tab" data-bs-target="#navs-pills-top-profile" aria-controls="navs-pills-top-profile" aria-selected="false">
                                        marathon cycle
                                      </button>
                                    </li>
                                  </ul>
                                  <div class="tab-content px-0">
                                      <!-- first pane -->
                                    <div class="tab-pane fade active show" id="navs-pills-top-home" role="tabpanel">
                                      <div class="container">
                                        <div class="row">
                                          <div class="col-md-6 mb-4 ">
                                            <%- include("./partials/ballances/shortTermBallance.ejs") -%>
                                          </div>
                                        </div>
                                        <div class="row justify-content-center">
                                         <% normalInvestments.sort((a,b)=> a.max - b.max ).forEach((investment, index)=>{%>
                                            <div class="col-md-6 col-lg-4 mb-3">
                                              <div class="card card-bg">
                                                <div class="py-2">
                                                  <div class="pricing-grid-item-inner">
                                                    <div class="pricing-item-header py-3">
                                                    <h3 class="text-center px-3 text-primary"><img src="assets/images/dashboard/pricing-check.png" alt="icon"> <%= investment.title %></h3>
                                                    </div>
                                                    <div class="pricing-item-amount pricing_<%=index%>">
                                                      <%# if min investment is less than one#%>
                                                      <% if(!investment.min){ %>
                                                        <h4 style="font-size:20px" class="text-white"> < <small >$</small> <%= investment.max %> </h4>
                                                      <%}else{ %>
                                                        <h4 style="font-size:20px" class="text-white"><small >$</small> <%= investment.min.toLocaleString('en-US') %> - <%= investment.max.toLocaleString('en-US') %> </h4>
                                                     <% } %>
                                                    </div>
                                                    <div class="pricing-item-body px-3">
                                                    <ul class="pricing-item-list">
                                                    <li class="text-primary"><img src="assets/images/dashboard/pricing-arrow.png" alt="icon" class="pricing-list-arrow">  <%= investment.roi %>% (ROI)</li>
                                                    <li class="text-primary"><img src="assets/images/dashboard/pricing-arrow.png" alt="icon" class="pricing-list-arrow">Duration : <%= investment.duration %> days</li>
                                                    </ul>
                                                    <form method="post" class="my-2 w-100">
                                                      <input type="hidden" name="title" class="form-control" value="<%= investment.title %>">
                                                      <input type="hidden" name="type" class="form-control" value="shortBallance">
                                                      <div class="py-2">
                                                        <input type="number" name="amount" class="form-control" placeholder="put amount" required> 
                                                      </div>
                                                      <button class="btn btn-outline-primary form-control "> invest</button>
                                                    </form>
                                                    </div>
                                                    
                                                </div>
                                              </div>
                                            </div>
                                            </div>
                                        <%  }) %>
                                        </div>
                                      </div>
                                    </div>
                                    <!-- ## first pane ## -->

                                    <!-- second pane -->
                                    <div class="tab-pane fade" id="navs-pills-top-profile" role="tabpanel">
                                      <div class="container">
                                        <div class="row">
                                          <div class="col-md-6 mb-4 ">
                                            <%- include("./partials/ballances/cyclesBallance.ejs") -%>
                                          </div>
                                        </div>
                                          <% if(userRunningCycle){ %>
                                        <div class="row justify-content-center">
                                            <div class="col-sm-10 col-md-8 col-lg-7 mb-3">
                                              <div class="card">
                                                <div class="py-2">
                                                  <div class="pricing-grid-item-inner">
                                                    <div class="pricing-item-header py-3">
                                                    <h3 class="text-center px-3"><img src="assets/images/dashboard/pricing-check.png" alt="icon"> Running Cycle</h3>
                                                    </div>
                                                    <div class="pricing-item-amount pricing_gold">
                                                        <h4 class="text-white"><small >$</small><%= userRunningCycle.accumulatedSum.toLocaleString('en-US') %></h4>
                                                    </div>
                                                    <div class="pricing-item-body px-3">
                                                    <ul class="pricing-item-list">
                                                      <li><img src="/assets/images/dashboard/pricing-arrow.png" alt="icon" class="pricing-list-arrow"> re-curring deposit : $<%= userRunningCycle.amount_inv %> </li>
                                                      <li><img src="/assets/images/dashboard/pricing-arrow.png" alt="icon" class="pricing-list-arrow"> days to be paid : <%= userRunningCycle.days_cycle  - userRunningCycle.days2run %>  days</li>
                                                      <li><img src="/assets/images/dashboard/pricing-arrow.png" alt="icon" class="pricing-list-arrow"> profit per day : $<%= userRunningCycle.pay_day %> </li>
                                                      <li><img src="/assets/images/dashboard/pricing-arrow.png" alt="icon" class="pricing-list-arrow"> current cycle : <%= userRunningCycle.cycle %> </li>
                                                      <li><img src="/assets/images/dashboard/pricing-arrow.png" alt="icon" class="pricing-list-arrow"> minimum amount of cycle : <%= userRunningCycle.min_cycle_b4_with %> cycles</li>
                                                    </ul>
                                                    <form method="post" action="/update-existing-cycle" class="my-2 w-100">
                                                      <input type="hidden" name="_id" class="form-control" value="<%= userRunningCycle._id %>">
                                                      <input type="hidden" name="amount" class="form-control" value="<%= userRunningCycle.amount_inv %>">
                                                      <div class="mb-3 d-flex">
                                                        <button class="btn btn-outline-primary form-control mx-1" name="type" value="renew"> Renew </button>
                                                        <button class="btn btn-outline-success form-control mx-1" name="type" value="cash-in"> cash-in</button>
                                                      </div>
                                                    </form>
                                                    </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                         <% }else{ %>
                                        <div class="row">
                                          <div class="col-md-6 col-lg-4 mb-3">
                                            <div class="card">
                                              <div class="py-2">
                                                <div class="pricing-grid-item-inner">
                                                  <div class="pricing-item-header py-3">
                                                  <h3 class="text-center px-3"><img src="assets/images/dashboard/pricing-check.png" alt="icon"> <%= cyclesInvestment.title %></h3>
                                                  </div>
                                                  <div class="pricing-item-amount pricing_gold">
                                                    <% if(!cyclesInvestment.max){ %>
                                                      <h4 style="font-size:20px" class="text-white"><small >$</small><%= cyclesInvestment.min %> - unlimited</h4>
                                                   <% }else{ %>
                                                    <h4 style="font-size:20px" class="text-white"><small >$</small><%= cyclesInvestment.min %> - <%= cyclesInvestment.max %></h4>
                                                   <% } %>
                                                  </div>
                                                  <div class="pricing-item-body px-3">
                                                  <ul class="pricing-item-list">
                                                    <li><img src="/assets/images/dashboard/pricing-arrow.png" alt="icon" class="pricing-list-arrow">  <%= cyclesInvestment.roi %> (ROI)/day</li>
                                                    <li><img src="/assets/images/dashboard/pricing-arrow.png" alt="icon" class="pricing-list-arrow"> minimum of <%= cyclesInvestment.min_cycle_b4_with %> cycles</li>
                                                  </ul>
                                                  <form method="post" class="my-2 w-100">
                                                    <input type="hidden" name="type" class="form-control" value="cyclesBallance">
                                                    <div class="py-2">
                                                      <input type="number" name="amount" class="form-control" placeholder="put amount" required>
                                                    </div>
                                                    <button class="btn btn-outline-primary form-control "> invest</button>
                                                  </form>
                                                  </div>
                                                  
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        </div>
                                        <% } %>
                                      </div>
                                    </div>
                                    <!-- ## second pane ## -->
                                  </div>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- / Content -->
            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->
      <!-- hide ballances -->
      <%- include("./partials/hideBallance.ejs") -%>
      <!-- #### -->
    	<%- include("./partials/footerLinks.ejs") -%>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </body>
</html>
