<!DOCTYPE html>

<html
  lang="en"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../assets/"
  data-template="vertical-menu-template-free"
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title> Deposit into your account </title>
    <!-- headLinks -->
  <%- include("./partials/headLinks.ejs") -%>
  <!-- ### headLinks ### -->
    <style>
    .app-brand-logo img, .app-brand-logo svg {
    display: block;
    width: 40px;
    margin: 0 auto;
    }
    h1.massive{
        font-size: 5em;
    }
    #myAlert{
        top: -200px;
        -webkit-transition: top .7s ease-in-out;
        -o-transition: top .7s ease-in-out;
        transition: top .7s ease-in-out;
        max-width: 500px;
        margin: 0 auto ;
        z-index: 10;
    }
    .move{
        top: 150px !important;
    }
    </style>
  </head>

  <body class="body-linear">
    <% if(messages.error){ %>
      <% console.log(messages) %>
      <div class="alert alert-primary alert-dismissible move" role="alert" id="myAlert">
          <%= messages.error %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <script>
     setTimeout(function () {
     return myAlert.classList.remove("move");
     }, 3000);
        </script>
    <% } %>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->
        <%- include("./partials/sidenav.ejs") -%>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
          <!-- Navbar -->

          <nav
            class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme card-color"
            id="layout-navbar"
          >
            <div class="layout-menu-toggle navbar-nav align-items-xl-center ms-auto me-xl-0 d-xl-none">
              <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                <i class="bx bx-menu bx-sm text-white"></i>
              </a>
            </div>
          </nav>

          <!-- / Navbar -->
      <!-- Modal -->
      <div class="modal fade" id="modalCenter" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalCenterTitle"> Copy the address </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col mb-3">
                  <input class="form-control" type="text" selec id="myInput" value="Readonly input here..." readonly="">
                  <div class="col-12"></div>
                  <div class="col-4 p-2 text-light ms-auto text-end flex-column" onclick="myFunction()">
                    <svg fill="#696cff" xmlns="http://www.w3.org/2000/svg" class="w-25 text-primary" viewBox="0 0 384 512"><path d="M336 64h-53.88C268.9 26.8 233.7 0 192 0S115.1 26.8 101.9 64H48C21.5 64 0 85.48 0 112v352C0 490.5 21.5 512 48 512h288c26.5 0 48-21.48 48-48v-352C384 85.48 362.5 64 336 64zM192 64c17.67 0 32 14.33 32 32c0 17.67-14.33 32-32 32S160 113.7 160 96C160 78.33 174.3 64 192 64zM272 224h-160C103.2 224 96 216.8 96 208C96 199.2 103.2 192 112 192h160C280.8 192 288 199.2 288 208S280.8 224 272 224z"/></svg>
                    <p class="w-100">copy</p>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->
            <div class="container-xxl flex-grow-1 container-p-y">
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <div class="row">
                            <div class="col-md-6 mb-4">
                              <%- include("./partials/ballances/fundingBallance.ejs") -%>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <h2 class="title text-white"> Apply for Loan</h2>
                              </div>
                            </div>
                        </div> 
                        <div class="row justify-content-center">
                            <div class="col-sm-6 col-md-5 col-lg-4">
                                <div class="card mb-4 card-color" style="min-width:300px;">
                                    <h1 class="massive text-center py-5 text-white">
                                        <sup class="text-success">$</sup>
                                        2000
                                    </h1>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item text-white">VAT</li>
                                            <li class="list-group-item text-white">Tax</li>
                                            <form method="POST" class="list-group-item form px-0" data-target="check1">
                                                <div class="form-check ps-5 pb-2">
                                                    <input class="form-check-input" type="checkbox" id="check1">
                                                    <label class="form-check-label text-white" for="defaultCheck3"> Terms and Condition <a href="/terms-condition" target="_blank"> read..</a> </label>
                                                  </div>
                                              <input class="form-control"  name="amount" type="hidden" value="2000" >
                                              <button class="btn btn-info py-3 w-100" >
                                                Apply
                                              </button>
                                            </form>
                                          </ul>
                                  </div>
                               </div>
                               <div class="col-sm-6 col-md-5 col-lg-4">
                                <div class="card mb-4 card-color"  style="min-width:300px;">
                                    <h1 class="massive text-center py-5 text-white">
                                        <sup class="text-success">$</sup>
                                        5000
                                    </h1>
                                        <ul class="list-group list-group-flush">
                                          <li class="list-group-item text-white">VAT</li>
                                          <li class="list-group-item text-white">Tax</li>
                                            <form method="POST" class="list-group-item form px-0" data-target="check2">
                                                <div class="form-check ps-5 pb-2">
                                                    <input class="form-check-input" type="checkbox" id="check2">
                                                    <label class="form-check-label text-white" for="defaultCheck3"> Terms and Condition <a href="/terms-condition" target="_blank"> read..</a> </label>
                                                  </div>
                                              <input class="form-control"  name="amount" type="hidden" value="5000" >
                                              <button class="btn btn-info py-3 w-100" >
                                                Apply
                                            </button>
                                            </form>
                                          </ul>
                                  </div>
                               </div>
                               <div class="col-sm-6 col-md-5 col-lg-4">
                                <div class="card mb-4 card-color"  style="min-width:300px;">
                                    <h1 class="massive text-center py-5 text-white">
                                        <sup class="text-success">$</sup>
                                        7000
                                    </h1>
                                        <ul class="list-group list-group-flush">
                                          <li class="list-group-item text-white">VAT</li>
                                          <li class="list-group-item text-white">Tax</li>
                                            <form method="POST" class="list-group-item form px-0" data-target="check3">
                                                <div class="form-check ps-5 pb-2">
                                                    <input class="form-check-input" type="checkbox" id="check3">
                                                    <label class="form-check-label text-white" for="defaultCheck3"> Terms and Condition <a href="/terms-condition" target="_blank"> read..</a>  </label>
                                                  </div>
                                              <input class="form-control"  name="amount" type="hidden" value="7000" >
                                              <button class="btn btn-info py-3 w-100" >
                                                Apply
                                            </button>
                                            </form>
                                          </ul>
                                  </div>
                               </div>
                        </div>
                     </div>
                    </div>
                </div>
            </div>
            <!-- / Content -->
            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->

    	<%- include("./partials/footerLinks.ejs") -%>
    <!-- hide ballances -->
    <%- include("./partials/hideBallance.ejs") -%>
    <!-- #### -->
    <script>
      for(i=0; i<document.getElementsByClassName("form").length; i++){
        document.getElementsByClassName("form")[i].addEventListener("submit", function(e){
          if(!document.getElementById(e.target.getAttribute("data-target")).checked){
            return  e.preventDefault();
          }
        })
      }
      
    </script>
    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </body>
</html>
