<style>
  .avatar i {
    width: 38px;
    height: 38px;
    border-radius: 4px;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    padding: .08em;
    background-color: rgba(255, 166, 0, 0.178);
  }
</style>
<% cycle= cycle ? cycle : {accumulatedSum : 0, cycle : 0} %>
<div class="card card-color" >
    <div class="card-body">
      <div class="card-title d-flex align-items-start justify-content-between">
        <div class="avatar flex-shrink-0">
          <i class='bx bx-rotate-left text-primary'></i>
        </div>
        <div class="dropdown">
          <button
            class="btn p-0"
            type="button"
            id="cardOpt6"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i class="bx bx-dots-vertical-rounded"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt6">
              <a class="dropdown-item justify-content-between d-flex" href="javascript:void(0);">
                  hide
                    <div class="text-end">
                      <div class="form-check form-switch">
                        <input class="form-check-input hide-amount" data-target="#R-cycles" type="checkbox" role="switch">
                      </div>
                    </div>
                  </a>
          </div>
        </div>
      </div>
      <span class="fw-semibold d-block mb-2"> Running cycles </span>
      <div class="d-flex justify-content-between">
        <h3 class="card-title text-nowrap mb-1 control-color" id="R-cycles" data-amount="<%= cycle.accumulatedSum %>" ><%= cycle.accumulatedSum.toLocaleString("en-US", { style: "currency", currency: "USD" }) %> </h3>
        <small class="text-success fw-semibold"><i class="bx bx-up-arrow-alt"></i> <%= cycle.cycle %> cycles</small>
      </div>
      <div class="d-flex justify-content-between">
        <% if(cycle.days2run < cycle.days_cycle){ %>
          <p class="text-success mb-0"> + $<%= cycle.pay_day ? cycle.pay_day : '0.00' %></p>
       <% }else{ %>
        <p class="text-danger mb-0"> + $<%= cycle.pay_day ? cycle.pay_day : '0.00' %></p>
        <% } %>
      <p class="text-info mb-0"> <%= cycle.days2run < cycle.days_cycle ? true : false  %></p>
      </div>
    </div>
  </div>